{% import 'cards.html' as cards -%}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0' name='viewport' />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/bulma.css">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if PODCAST_FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ PODCAST_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Podcast RSS Feed" />
        {% endif %}
        {% if PODCAST_FEED_RSS %}
        {% for _name, _category in PODCASTS %}
        <link href="{{ FEED_DOMAIN }}/{{ PODCAST_FEED_RSS|format(_category) }}" type="application/rss+xml" rel="alternate" title="{{ _name }} Podcast RSS Feed" />
        {% endfor %}
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>
{% if page %}{% set datasource=page %}{% endif %}
{% if article %}{% set datasource=article %}{% endif %}

<body id="index" class="home">
    <section class="hero is-info is-bold">
        <div class="hero-head">
            <div class="container">
                <nav class="nav">
                    <div class="nav-left">
                        <a class="nav-item  is-active" href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
                    </div>
                    <div class="nav-menu nav-right">
                        {% for title, link in MENUITEMS %}
                        <a class="nav-item" href="{{ link }}">{{ title }}</a>
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">{% if datasource and datasource.hero %}{{datasource.hero}}{% endif %}</p>
                        <p class="subtitle">{% if datasource and datasource.herosubtitle %}{{datasource.herosubtitle}}{% endif %}</p>
                    </div>
{% for _article in articles if _article.episode %}
{% if loop.first%}
{{ cards.card(_article, True, '') }}
{% endif %}

{% endfor %}
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <nav class="tabs is-boxed">
                    <ul>
                        {% for title, link, tab in TABS %}
                        <li{% if datasource and datasource.category == tab %} class="is-active"{%endif%}><a href="{{SITEURL}}/{{link}}">{{title}}</a></li>
                        {%endfor%}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    {% block content %}
    {% endblock %}

    <footer id="contentinfo" class="footer">
            <div class="columns">
            <div class="column has-text-centered">
                <p>
                <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html"><img alt="License GPLv3" style="border-width:0" src="{{SITEURL}}/images/gplv3.png" /></a><br />Le <a href="https://framagit.org/podlibre/public">code source</a> de ce site web est diffusé selon les termes de la <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License, version 3</a>. Il est propulsé par <a href="http://getpelican.com/">Pelican</a>, écrit en <a href="http://python.org">Python</a>.
                </p>

            </div>
            <div class="column has-text-centered">
                <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="{{SITEURL}}/images/ccbysa.png" /></a><br />Les illustrations sont mise à disposition par <a href="http://ptilouk.net/">Gee</a> (<a href="http://grisebouille.net/">Grise Bouille</a>, <a href="http://geektionnerd.net/">le Geektionnerd</a>) selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 2.0 France</a>.
                </p>
            </div>
            <div class="column has-text-centered">
                <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="{{SITEURL}}/images/ccbysa.png" /></a><br />Sauf mention contraire, les textes et fichiers audio sont également mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/fr/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 2.0 France</a>.
                </p>
            </div>
    </footer><!-- /#contentinfo -->
</body>
</html>
