{% macro card(article, short, class) -%}
<div class="column {{ class }}">
    <div class="card{% if short %} is-narrow{% else%} is-fullwidth{% endif %}">
        <header class="card-header is-success">
            <p class="card-header-title">
            {{article.title}}
            </p>
        </header>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
            <figure class="image is-32x32">
        {% if article.episode %}
                <img alt="Épisode" src="{{SITEURL}}/theme/img/audio.png">
        {% else %}
                <img alt="Nouvelle" src="{{SITEURL}}/theme/img/news.png">
        {% endif %}
            </figure>
            </div>
            <div class="media-content">
                {{article.summary}}
                <small>{{article.locale_date}}</small>
            </div>
            </div>
        </div>
        {% if article.episode %}
        <footer class="card-footer">
            <a class="card-footer-item" href="{{SITEURL}}/{{article.url}}">Notes</a>
            <a class="card-footer-item" href="{{SITEURL}}/files/{{article.podcast}}/{{article.file}}">OGG</a>
        </footer>
        {% else %}
        <footer class="card-footer">
            <a class="card-footer-item" href="{{SITEURL}}/{{article.url}}">Lire</a>
        </footer>
        {% endif %}
    </div>
</div>
{%- endmacro %}
