{% extends "base.html" %}
{% block title %}{{SITENAME}} - {{ page.title }}{%endblock%}
{% block content %}
<section id="content" class="section">
    <div class="container">
    <div class="content">
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
    </div>
    </div>
    </section>
{% endblock %}
