{% extends "base.html" %}
{% block title %}{{SITENAME}} - {{ page.title }}{%endblock%}
{% block content %}
<section id="content" class="section">
    <div class="container">
    <h1 class="title">{{ page.title }}</h1>

    {{ page.content }}

    <hr/>
<div class="columns is-multiline">
{% for _article in articles %}
{% if _article.category == page.category%}
{{ cards.card(_article, False, 'is-one-third') }}
{% endif %}

{% endfor %}
</div>



    {% if page.modified %}
    <p>
    Last updated: {{ page.locale_modified }}
    </p>
    {% endif %}
    </div>
</section>
{% endblock %}
